/* Block quotes */

blockquote {
	margin: 0.5em;
	padding: 0.5em;
	border-left: 2px solid #555555;
}

blockquote > p:first-of-type {
	margin-top: 0;
}

blockquote > p:last-of-type {
	margin-bottom: 0;
}

/* Collapse boxes */

.collapsebox > label {
	color: #3333FF;
}

.collapsebox > label > .cbshowtext::before {
	content: "+ ";
}

.collapsebox > label > .cbhidetext::before {
	content: "- ";
}

.cbcontrol:not(:checked) ~ .cbcontents {
	display: none;
}

.cbcontrol:not(:checked) ~ label .cbhidetext {
	display: none;
}

.cbcontrol:checked ~ label .cbshowtext {
	display: none;
}

.cbcontrol {
	display: none;
}

.cbcontents {
	padding: 1em;
	border: 1px dashed black;
	max-width: 50%;
}

/* Spoilers */

.spoiler:not(:hover) {
	color: black;
	background-color: black;
}
