html {
	font-family: Verdana, sans-serif;
	font-size: 0.85em;
}

header {
	background-color: #F1F1F1;
	text-align: left;
	padding: 1.25em;
}

a {
	color: #0000EE;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: #551A8B;
}

nav {
	overflow: hidden;
	background-color: #f3f3f3;
	border: 1px solid #e7e7e7;
}

nav a {
	float: left;
	display: block;
	text-align: center;
	padding: 0.875em 1em;
	color: inherit;
}

nav a:hover {
	background-color: #ddd;
	color: black;
	text-decoration: none;
}

nav a:visited {
	color: black;
}

nav a.selected {
	background-color: #008CBA;
	color: white;
}

nav a.right {
	float: right;
}

footer {
	padding-top: 2em;
}

.notification {
	margin: auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	width: auto;
	text-align: center;
}

a.button {
	color: inherit;
	font-size: 0.875em;
}

a.button:hover {
	text-decoration: underline;
}

.smallish {
	font-size: 0.875em;
}

.small {
	font-size: 0.75em;
}

.unreadMsgs {
	background-color: orangered;
}

.messagebody img {
	max-width: 50%;
}
