.editedstamp:not(:hover) .editdatetime {
	display: none;
}

.markdownsource {
	display: none;
}

/* Posts */

.postcontent {
	margin: 0.5em;
	padding: 0.5em;
}

.postbody img {
	max-width: 50%;
}

/* Comments */

.commentheader, .commentfooter {
	font-size: 0.75em;
}

.commentchildren {
	padding-left: 0.5em;
	margin-left: 0.5em;
	margin-top: 0.5em;
	border-left: 1px solid gray;
}

.commentcontent img {
	max-width: 50%;
}

.ccbcontrol {
	display: none;
}

.ccbcontrol:not(:checked) ~ .ccbcontent {
	display: none;
}

.ccbcontrol:not(:checked) ~ .commentheader label .ccbhide {
	display: none;
}

.ccbcontrol:checked ~ .commentheader label .ccbshow {
	display: none;
}