table {
    border-collapse: collapse;
    border-spacing: 0;
}

table tr:nth-child(even) {
    background-color: #f1f1f1;
}

table tr:nth-child(odd) {
    background-color: #ffffff;
}

table td, table th {
    padding: 3px;
    overflow: hidden;
    word-break: normal;
    text-align: left;
    vertical-align: top;
}

table tr {
    border: 1px solid gray;
}
 